.grandMenu {
  width: 100%;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  justify-content: stretch;
  z-index: 801;
  background: rgb(0, 0, 0);
  padding-top: 6.25rem;
}
.grandMenu.menuOpen {
  height: 100vh;
  visibility: visible;
  transition: height 0.4s;
}
.grandMenu.menuOpen .grandNavBar > ul li:nth-child(1) a {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.2s 0.3s;
}
.grandMenu.menuOpen .grandNavBar > ul li:nth-child(1) .childrenNav {
  opacity: 1;
  visibility: visible;
  width: 100%;
  transition: all 0.4s 0.3s;
}
.grandMenu.menuOpen .grandNavBar > ul li:nth-child(2) a {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.4s 0.3s;
}
.grandMenu.menuOpen .grandNavBar > ul li:nth-child(2) .childrenNav {
  opacity: 1;
  visibility: visible;
  width: 100%;
  transition: all 0.8s 0.3s;
}
.grandMenu.menuOpen .grandNavBar > ul li:nth-child(3) a {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.6s 0.3s;
}
.grandMenu.menuOpen .grandNavBar > ul li:nth-child(3) .childrenNav {
  opacity: 1;
  visibility: visible;
  width: 100%;
  transition: all 1.2s 0.3s;
}
.grandMenu.menuOpen .grandNavBar > ul li:nth-child(4) a {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.8s 0.3s;
}
.grandMenu.menuOpen .grandNavBar > ul li:nth-child(4) .childrenNav {
  opacity: 1;
  visibility: visible;
  width: 100%;
  transition: all 1.6s 0.3s;
}
.grandMenu.menuOpen .grandNavBar > ul li:nth-child(5) a {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s 0.3s;
}
.grandMenu.menuOpen .grandNavBar > ul li:nth-child(5) .childrenNav {
  opacity: 1;
  visibility: visible;
  width: 100%;
  transition: all 2s 0.3s;
}
.grandMenu .aside {
  width: 100%;
  display: flex;
}
.grandMenu .globalMenuBtnClose {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 0.625rem 0 0.625rem 0.625rem;
  border: 0;
}
.grandMenu .globalMenuBtnClose svg {
  width: 2.5rem;
  height: 2.5rem;
}
.grandMenu .grandNavBar {
  width: 100%;
  max-width: 87.5rem;
  margin-left: auto;
  margin-right: auto;
}
.grandMenu .grandNavBar > ul {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}
.grandMenu .grandNavBar > ul > li {
  display: flex;
  align-items: center;
}
.grandMenu .grandNavBar > ul > li > a {
  opacity: 0;
  transform: translateX(-120%);
  flex-basis: 25rem;
  font-size: 3.125rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.grandMenu .grandNavBar > ul .childrenNav {
  display: flex;
  gap: 1.5625rem 2.5rem;
  opacity: 0;
  width: 0;
  visibility: hidden;
}
.grandMenu .grandNavBar > ul .childrenNav li a {
  color: rgba(255, 255, 255, 0.4);
}

@media (min-width: 768px) and (max-width: 1280px) {
  .grandMenu {
    padding-top: calc(120 / 1280 * 100vw);
  }
  .grandMenu.menuOpen .grandNavBar {
    padding: 0 calc(50 / 1280 * 100vw);
  }
  .grandMenu .globalMenuBtnClose {
    width: calc(70 / 1280 * 100vw);
    height: calc(70 / 1280 * 100vw);
    border-radius: calc(8 / 1280 * 100vw) 0 calc(8 / 1280 * 100vw) calc(8 / 1280 * 100vw);
  }
  .grandMenu .globalMenuBtnClose svg {
    width: calc(36 / 1280 * 100vw);
    height: calc(36 / 1280 * 100vw);
  }
  .grandMenu .grandNavBar > ul {
    gap: calc(40 / 1280 * 100vw);
  }
  .grandMenu .grandNavBar > ul > li > a {
    flex-basis: calc(400 / 1280 * 100vw);
    font-size: calc(46 / 1280 * 100vw);
  }
  .grandMenu .grandNavBar > ul .childrenNav {
    gap: calc(20 / 1280 * 100vw) calc(50 / 1280 * 100vw);
  }
}
@media (min-width: 1px) and (max-width: 768px) {
  .grandMenu {
    padding-top: calc(130 / 768 * 100vw);
  }
  .grandMenu.menuOpen {
    height: 100vh;
    visibility: visible;
    transition: height 0.4s;
  }
  .grandMenu.menuOpen .grandNavBar > ul li:nth-child(1) a {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.2s 0.3s;
  }
  .grandMenu.menuOpen .grandNavBar > ul li:nth-child(1) .childrenNav {
    opacity: 1;
    visibility: visible;
    width: 100%;
    transition: all 0.4s 0.3s;
  }
  .grandMenu.menuOpen .grandNavBar > ul li:nth-child(2) a {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.4s 0.3s;
  }
  .grandMenu.menuOpen .grandNavBar > ul li:nth-child(2) .childrenNav {
    opacity: 1;
    visibility: visible;
    width: 100%;
    transition: all 0.8s 0.3s;
  }
  .grandMenu.menuOpen .grandNavBar > ul li:nth-child(3) a {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.6s 0.3s;
  }
  .grandMenu.menuOpen .grandNavBar > ul li:nth-child(3) .childrenNav {
    opacity: 1;
    visibility: visible;
    width: 100%;
    transition: all 1.2s 0.3s;
  }
  .grandMenu.menuOpen .grandNavBar > ul li:nth-child(4) a {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.8s 0.3s;
  }
  .grandMenu.menuOpen .grandNavBar > ul li:nth-child(4) .childrenNav {
    opacity: 1;
    visibility: visible;
    width: 100%;
    transition: all 1.6s 0.3s;
  }
  .grandMenu.menuOpen .grandNavBar > ul li:nth-child(5) a {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s 0.3s;
  }
  .grandMenu.menuOpen .grandNavBar > ul li:nth-child(5) .childrenNav {
    opacity: 1;
    visibility: visible;
    width: 100%;
    transition: all 2s 0.3s;
  }
  .grandMenu .aside {
    overflow-y: auto;
  }
  .grandMenu .globalMenuBtnClose {
    width: calc(90 / 768 * 100vw);
    height: calc(90 / 768 * 100vw);
    border-radius: calc(10 / 768 * 100vw) 0 calc(10 / 768 * 100vw) calc(10 / 768 * 100vw);
  }
  .grandMenu .globalMenuBtnClose svg {
    width: calc(60 / 768 * 100vw);
    height: calc(60 / 768 * 100vw);
  }
  .grandMenu .grandNavBar {
    padding: 0 calc(50 / 768 * 100vw);
  }
  .grandMenu .grandNavBar > ul {
    gap: calc(70 / 768 * 100vw);
  }
  .grandMenu .grandNavBar > ul > li {
    flex-direction: column;
    align-items: start;
  }
  .grandMenu .grandNavBar > ul > li > a {
    flex-basis: auto;
    font-size: calc(40 / 768 * 100vw);
  }
  .grandMenu .grandNavBar > ul .childrenNav {
    flex-direction: column;
    margin-top: calc(30 / 768 * 100vw);
    gap: calc(30 / 768 * 100vw);
    transition: 0;
    width: auto;
    visibility: visible;
  }
}