.navbar {
  height: 100%;
}
.navbar .menu {
  height: 100%;
  display: flex;
  gap: 2.5rem;
}
.navbar .menu > li {
  display: flex;
  align-items: center;
  position: relative;
}
.navbar .menu > li:hover .dropMenu {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s;
}
.navbar .menu > li > a {
  font-size: 1.125rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.navbar .dropMenu {
  width: calc(100% + 3.125rem);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: calc(100% + 1px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  padding: 0.9375rem;
  border-radius: 0.625rem;
  background: rgb(0, 0, 0);
}
.navbar .dropMenu a {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

@media (min-width: 1px) and (max-width: 1280px) {
  .navbar {
    display: none;
  }
}