@charset "UTF-8";
.portfolioSection {
  position: relative;
  overflow: hidden;
  padding: 12.5rem 0 12.5rem;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(159, 161, 163, 0.225);
  z-index: 2;
}
.portfolioSection .title {
  padding-bottom: 3.75rem;
  margin-bottom: 3.75rem;
}
.portfolioSection .portfolioLists {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}
.portfolioSection .portfolioLists .item {
  width: 100%;
  height: 25.625rem;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: rgb(255, 255, 255);
  border-radius: 1.875rem;
  background-size: cover !important;
  padding: 3.125rem 4.375rem;
  color: rgb(255, 255, 255);
}
.portfolioSection .portfolioLists .item:first-child {
  opacity: 1;
}
.portfolioSection .portfolioLists .item.completed {
  filter: blur(2px);
}
.portfolioSection .portfolioLists .item .tit {
  font-size: 2.5rem;
  line-height: 3.125rem;
  font-weight: 700;
}
.portfolioSection .portfolioLists .item .descBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolioSection .portfolioLists .item .descBox .desc {
  font-size: 1.75rem;
  font-weight: 500;
}
.portfolioSection .portfolioLists .item .descBox .descList {
  display: flex;
  position: relative;
  font-size: 1.25rem;
  gap: 0.625rem;
}
.portfolioSection .portfolioLists .item .descBox .descList li {
  display: flex;
  gap: 0.625rem;
}
.portfolioSection .portfolioLists .item .descBox .descList li::before {
  content: "·";
  display: block;
}
.portfolioSection .portfolioLists .item .descBox .descList li:first-child::before {
  display: none;
}
.portfolioSection .portfolioAbout {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  margin-top: 4.375rem;
}
.portfolioSection .portfolioAbout .portfolioDesc {
  font-size: 1.75rem;
  line-height: 3rem;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .portfolioSection {
    padding: calc(100 / 1280 * 100vw) 0 calc(100 / 1280 * 100vw);
  }
  .portfolioSection .title {
    padding-bottom: calc(40 / 1280 * 100vw);
    margin-bottom: calc(40 / 1280 * 100vw);
  }
  .portfolioSection .portfolioLists {
    gap: calc(30 / 1280 * 100vw);
  }
  .portfolioSection .portfolioLists .item {
    height: calc(380 / 1280 * 100vw);
    border-radius: calc(30 / 1280 * 100vw);
    padding: calc(50 / 1280 * 100vw) calc(60 / 1280 * 100vw);
  }
  .portfolioSection .portfolioLists .item .tit {
    font-size: calc(30 / 1280 * 100vw);
    line-height: calc(40 / 1280 * 100vw);
  }
  .portfolioSection .portfolioLists .item .descBox .desc {
    font-size: calc(24 / 1280 * 100vw);
  }
  .portfolioSection .portfolioLists .item .descBox .descList {
    font-size: calc(18 / 1280 * 100vw);
    gap: calc(5 / 1280 * 100vw);
  }
  .portfolioSection .portfolioLists .item .descBox .descList li {
    gap: calc(5 / 1280 * 100vw);
  }
  .portfolioSection .portfolioAbout {
    gap: calc(40 / 1280 * 100vw);
    margin-top: calc(60 / 1280 * 100vw);
  }
  .portfolioSection .portfolioAbout .portfolioDesc {
    font-size: calc(20 / 1280 * 100vw);
    line-height: calc(40 / 1280 * 100vw);
  }
}
@media (min-width: 1px) and (max-width: 768px) {
  .portfolioSection {
    padding: calc(110 / 768 * 100vw) 0 calc(110 / 768 * 100vw);
  }
  .portfolioSection .title {
    padding-bottom: calc(30 / 768 * 100vw);
    margin-bottom: calc(30 / 768 * 100vw);
  }
  .portfolioSection .portfolioLists {
    gap: calc(50 / 768 * 100vw);
  }
  .portfolioSection .portfolioLists .item {
    height: calc(420 / 768 * 100vw);
    border-radius: calc(30 / 768 * 100vw);
    padding: calc(40 / 768 * 100vw) calc(30 / 768 * 100vw);
    opacity: 1;
  }
  .portfolioSection .portfolioLists .item .tit {
    font-size: calc(36 / 768 * 100vw);
    line-height: calc(46 / 768 * 100vw);
  }
  .portfolioSection .portfolioLists .item .descBox {
    flex-direction: column;
    align-items: start;
    gap: calc(20 / 768 * 100vw);
  }
  .portfolioSection .portfolioLists .item .descBox .desc {
    font-size: calc(32 / 768 * 100vw);
  }
  .portfolioSection .portfolioLists .item .descBox .descList {
    flex-wrap: wrap;
    font-size: calc(24 / 768 * 100vw);
    gap: calc(5 / 768 * 100vw);
  }
  .portfolioSection .portfolioLists .item .descBox .descList li {
    gap: calc(5 / 768 * 100vw);
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: calc(30 / 768 * 100vw);
    padding: calc(12 / 768 * 100vw) calc(10 / 768 * 100vw);
  }
  .portfolioSection .portfolioLists .item .descBox .descList li::before {
    content: "";
    display: none;
  }
  .portfolioSection .portfolioAbout {
    gap: calc(40 / 768 * 100vw);
    margin-top: calc(60 / 768 * 100vw);
  }
  .portfolioSection .portfolioAbout .portfolioDesc {
    font-size: calc(34 / 768 * 100vw);
    line-height: calc(54 / 768 * 100vw);
  }
}