@import "../../styles/mixin.scss";

.grandMenu {
  width: 100%;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  justify-content: stretch;
  z-index: 801;
  background: $black-color;
  padding-top: rem(100);

  &.menuOpen {
    height: 100vh;
    visibility: visible;
    transition: height 0.4s;

    .grandNavBar {
      & > ul {
        @for $i from 1 through 5 {
          li:nth-child(#{$i}) {
            a {
              opacity: 1;
              transform: translateX(0);
              transition: all 0.2s * $i 0.3s;
            }

            .childrenNav {
              opacity: 1;
              visibility: visible;
              width: 100%;
              transition: all 0.4s * $i 0.3s;
            }
          }
        }
      }
    }
  }

  .aside {
    width: 100%;
    display: flex;
  }

  .globalMenuBtnClose {
    width: rem(80);
    height: rem(80);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $white-color;
    border-radius: rem(10) 0 rem(10) rem(10);
    border: 0;
    svg {
      width: rem(40);
      height: rem(40);
    }
  }

  .grandNavBar {
    width: 100%;
    max-width: rem(1400);
    margin-left: auto;
    margin-right: auto;

    & > ul {
      display: flex;
      flex-direction: column;
      gap: rem(50);

      & > li {
        display: flex;
        align-items: center;
        & > a {
          opacity: 0;
          transform: translateX(-120%);
          flex-basis: rem(400);
          font-size: rem(50);
          color: $white-color;
          font-weight: 600;
        }
      }

      .childrenNav {
        display: flex;
        gap: rem(25) rem(40);
        opacity: 0;
        width: 0;
        visibility: hidden;
        li {
          a {
            color: $white-color-opacity;
          }
        }
      }
    }
  }
}

@include tablet {
  .grandMenu {
    padding-top: vwtb(120);

    &.menuOpen {
      .grandNavBar {
        padding: 0 vwtb(50);
      }
    }

    .globalMenuBtnClose {
      width: vwtb(70);
      height: vwtb(70);
      border-radius: vwtb(8) 0 vwtb(8) vwtb(8);
      svg {
        width: vwtb(36);
        height: vwtb(36);
      }
    }

    .grandNavBar {
      & > ul {
        gap: vwtb(40);

        & > li {
          & > a {
            flex-basis: vwtb(400);
            font-size: vwtb(46);
          }
        }

        .childrenNav {
          gap: vwtb(20) vwtb(50);
        }
      }
    }
  }
}

@include mobile {
  .grandMenu {
    padding-top: vwmo(130);

    &.menuOpen {
      height: 100vh;
      visibility: visible;
      transition: height 0.4s;

      .grandNavBar {
        & > ul {
          @for $i from 1 through 5 {
            li:nth-child(#{$i}) {
              a {
                opacity: 1;
                transform: translateX(0);
                transition: all 0.2s * $i 0.3s;
              }

              .childrenNav {
                opacity: 1;
                visibility: visible;
                width: 100%;
                transition: all 0.4s * $i 0.3s;
              }
            }
          }
        }
      }
    }

    .aside{
      overflow-y: auto;
    }

    .globalMenuBtnClose {
      width: vwmo(90);
      height: vwmo(90);
      border-radius: vwmo(10) 0 vwmo(10) vwmo(10);
      svg {
        width: vwmo(60);
        height: vwmo(60);
      }
    }

    .grandNavBar {
      padding:0 vwmo(50);
      & > ul {
        gap: vwmo(70);

        & > li {
          flex-direction: column;
          align-items: start;
          & > a {
            flex-basis: auto;
            font-size: vwmo(40);
          }
        }

        .childrenNav {
          flex-direction: column;
          margin-top: vwmo(30);
          gap: vwmo(30);
          transition: 0;
          width: auto;
          visibility: visible;
     
        }
      }
    }
  }
}
