.footer {
  position: relative;
  padding: 9.375rem 0 0;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  overflow: hidden;
  transform: translateY(0);
  border-top: 1px solid rgba(159, 161, 163, 0.225);
}
.footer .index {
  display: flex;
  flex-direction: column;
  gap: 11.25rem;
  position: relative;
  z-index: 2;
}
.footer .radialGrad {
  width: 156.25rem;
  height: 156.25rem;
  position: absolute;
  left: 50%;
  bottom: -125rem;
  transform: translateX(-50%);
  z-index: 1;
}
.footer .logo svg {
  opacity: 0.5;
  width: 10rem;
}
.footer .footLinksWrap {
  display: flex;
}
.footer .footLinksWrap .linkList nav,
.footer .footLinksWrap .instarList nav {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.footer .footLinksWrap .linkList nav a,
.footer .footLinksWrap .instarList nav a {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
.footer .footLinksWrap .instarList a {
  display: flex;
  justify-content: space-between;
}
.footer .footLinksWrap .instarList a svg {
  width: 1.5rem;
  height: 1.5rem;
}
.footer .information {
  display: flex;
  align-items: end;
}
.footer .information .infoList {
  display: flex;
}
.footer .information .infoList .box {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.footer .information .infoList .txtBox {
  font-size: 1.25rem;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.4);
}
.footer .information .infoList .txtBox strong {
  display: block;
  font-size: 1.25rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin-bottom: 0.625rem;
}
.footer .contact {
  text-align: right;
}
.footer .contact > div {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  gap: 0.9375rem;
}
.footer .contactBtn {
  width: 13.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.625rem;
  background: #222;
  padding: 0.625rem 0.9375rem;
  color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease;
}
.footer .contactBtn:hover::before {
  transform: translateX(100%);
}
.footer .contactBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #e74a1e, #e74a1e);
  transition: transform 0.4s ease;
  transform: translateX(0);
  z-index: -1;
}
.footer .contactBtn svg {
  width: 1.875rem;
  height: 1.875rem;
}
.footer .copyright {
  margin-top: 3.125rem;
  height: 6.25rem;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.25rem;
  border-top: 1px solid rgba(159, 161, 163, 0.225);
}
.footer .copyright .personal {
  display: flex;
  justify-content: end;
  gap: 0.9375rem;
}
.footer .copyright .personal a {
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .footer {
    padding: calc(70 / 1280 * 100vw) 0 0;
  }
  .footer .index {
    gap: calc(100 / 1280 * 100vw);
  }
  .footer .radialGrad {
    width: calc(1480 / 1280 * 100vw);
    height: calc(1480 / 1280 * 100vw);
    bottom: calc(-1100 / 1280 * 100vw);
  }
  .footer .logo svg {
    width: calc(120 / 1280 * 100vw);
  }
  .footer .footLinksWrap .linkList nav,
  .footer .footLinksWrap .instarList nav {
    gap: calc(20 / 1280 * 100vw);
  }
  .footer .footLinksWrap .linkList nav a,
  .footer .footLinksWrap .instarList nav a {
    font-size: calc(18 / 1280 * 100vw);
  }
  .footer .footLinksWrap .instarList a svg {
    width: calc(24 / 1280 * 100vw);
    height: calc(24 / 1280 * 100vw);
  }
  .footer .information .infoList .box {
    gap: calc(15 / 1280 * 100vw);
  }
  .footer .information .infoList .txtBox {
    font-size: calc(18 / 1280 * 100vw);
  }
  .footer .information .infoList .txtBox strong {
    font-size: calc(18 / 1280 * 100vw);
    margin-bottom: 0.625rem;
  }
  .footer .contact > div {
    gap: calc(20 / 1280 * 100vw);
  }
  .footer .contact p {
    font-size: calc(18 / 1280 * 100vw);
  }
  .footer .contactBtn {
    width: calc(176 / 1280 * 100vw);
    border-radius: calc(10 / 1280 * 100vw);
    padding: calc(7 / 1280 * 100vw) calc(15 / 1280 * 100vw);
    font-size: calc(16 / 1280 * 100vw);
  }
  .footer .contactBtn svg {
    width: calc(24 / 1280 * 100vw);
    height: calc(24 / 1280 * 100vw);
  }
  .footer .copyright {
    margin-top: calc(50 / 1280 * 100vw);
    height: calc(58 / 1280 * 100vw);
    font-size: calc(15 / 1280 * 100vw);
  }
  .footer .copyright .personal {
    gap: calc(10 / 1280 * 100vw);
  }
  .footer .copyright .personal a {
    font-size: calc(15 / 1280 * 100vw);
  }
}
@media (min-width: 1px) and (max-width: 768px) {
  .footer {
    padding: calc(100 / 768 * 100vw) 0 0;
  }
  .footer .index {
    gap: calc(0 / 768 * 100vw);
  }
  .footer .radialGrad {
    width: calc(1333 / 768 * 100vw);
    height: calc(1333 / 768 * 100vw);
    bottom: calc(-1100 / 768 * 100vw);
  }
  .footer .logo svg {
    width: calc(160 / 768 * 100vw);
  }
  .footer .footLinksWrap .linkList {
    display: none;
  }
  .footer .footLinksWrap .linkList nav,
  .footer .footLinksWrap .instarList nav {
    gap: calc(30 / 768 * 100vw);
  }
  .footer .footLinksWrap .linkList nav a,
  .footer .footLinksWrap .instarList nav a {
    font-size: calc(28 / 768 * 100vw);
  }
  .footer .footLinksWrap .instarList a svg {
    width: calc(30 / 768 * 100vw);
    height: calc(30 / 768 * 100vw);
  }
  .footer .information .infoList {
    flex-direction: column;
    gap: calc(0 / 768 * 100vw);
  }
  .footer .information .infoList .box {
    gap: calc(30 / 768 * 100vw);
  }
  .footer .information .infoList .txtBox {
    font-size: calc(26 / 768 * 100vw);
  }
  .footer .information .infoList .txtBox strong {
    font-size: calc(26 / 768 * 100vw);
    margin-bottom: 0.625rem;
  }
  .footer .contact > div {
    gap: calc(25 / 768 * 100vw);
  }
  .footer .contact p {
    font-size: calc(28 / 768 * 100vw);
  }
  .footer .contactBtn {
    width: calc(266 / 768 * 100vw);
    border-radius: calc(10 / 768 * 100vw);
    padding: calc(10 / 768 * 100vw) calc(15 / 768 * 100vw);
    font-size: calc(26 / 768 * 100vw);
  }
  .footer .contactBtn svg {
    width: calc(30 / 768 * 100vw);
    height: calc(30 / 768 * 100vw);
  }
  .footer .copyright {
    margin-top: calc(80 / 768 * 100vw);
    height: calc(100 / 768 * 100vw);
    font-size: calc(22 / 768 * 100vw);
  }
  .footer .copyright .personal {
    gap: calc(20 / 768 * 100vw);
  }
  .footer .copyright .personal a {
    font-size: calc(22 / 768 * 100vw);
  }
}